<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StyleSheet.css') }}">
    <title>Attendance Information</title>
</head>
<body>
    <div class ="form-container form-container-attendance">
        <div class="form-bubble">
        <div class="form-bubble-container form-bubble-container-get">
            <p>Login Time</p>
            <p>{{LoginTime}}</p>
        </div>
        <div class="form-bubble-container form-bubble-container-get">
            <p>Checkout Time</p>
            <p>{{CheckOut}}</p>
        </div>
    </div>
    <div class="back-button">
        <a href="/">
           <button type="submit" class="form-button">BACK</button>
        </a>
    </div>

</div>

</body>
</html>
