<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='StyleSheet.css') }}">
    <title>Employee Attendance</title>
</head>
<body>
     <div class = "navbar">
        <div class = "navbar-left">
            <a href ="/">
                <img src = "{{ url_for('static',filename='home.png') }}"/>
            </a>

        </div>
    </div>
    
    <div class="form-attendance form-attendance-2" >
        <form action="/attendance/output" autocomplete="on" method = "POST" class ="bubble">
        <div class ="bubble-container">
            <label>Employee ID:</label>
            <input type ="number" name ="emp_id" autofocus size ="40">
        </div>
    <div class = "outside-container">
        <button type ="submit" formaction="/attendanceCheckIn" class = "check-button ">CHECK IN</button>
        <a href = "/attendance/output">
            <button type ="submit" class = "check-button ">CHECK OUT</button>
        </a>
    </div>



        </form>

</div>




<center><p><a href="/LoginPageRoute/" style="color: #87CEEB; display: block;">Click here to login instead!</a></p></center>   
</body>
</html>
