<!DOCTYPE html>
<html>
<center>
    
    <font color="DodgerBlue" size="5" style="font-family: avenir">
        <body bgcolor="lightgrey">
            <h1>EMPLOYEE'S SALARY WAS PAID SUCCESSFULLY'</h1><br>
            <h2>The salary of the following Employee has been paid</h2><br>
            <h2>{{ name }}</h2><br>
            <title>Salary Paid Output</title>
            <form autocomplete="on" method="GET">

              
            </form>
        </body>
    </font>
</center>
<body>

</body>
</html>
