<!DOCTYPE html>
<html>

<center>
    <font color="DodgerBlue" size="5" style="font-family: avenir">
        <body bgcolor="lightgrey">
            <h1>SALARY PAYMENT</h1><br>
            <h2>The salary of the following Employee has been added to the database</h2><br>
            <h2>{{ name }}</h2><br>
            <title>Salary Payment</title>
            <form action="http://3.134.115.108:80/" autocomplete="on" method="GET">

                <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

                <button type="submit" style="background: green; height: 45px; width: 200px; color:white; font:oblique;">Proceed</button><br><br>

            </form>
        </body>
    </font>
</center>
<body>

</body>
</html>